
    <div class="main-catalogo">
        <div class="catalogo">
            <div class="catalogo-producto">
                <a href="./iphones.html">
                    <img src="./img/Catalogo iphones.png" alt="LOGO" class="catalogo-logo">
                    <p class="catalogo-titulo">IPHONES</p>
                </a>
            </div>

            <div class="catalogo-producto">
                <img src="./img/Imagen Producto.png" alt="LOGO" class="catalogo-logo">
                <p class="catalogo-titulo">DRONES</p>
            </div>

            <div class="catalogo-producto">
                <img src="./img/Imagen Producto.png" alt="LOGO" class="catalogo-logo">
                <p class="catalogo-titulo">SONY</p>
            </div>

            <div class="catalogo-producto">
                <img src="./img/Imagen Producto.png" alt="LOGO" class="catalogo-logo">
                <p class="catalogo-titulo">NIKON</p>
            </div>

            <div class="catalogo-producto">
                <img src="./img/Imagen Producto.png" alt="LOGO" class="catalogo-logo">
                <p class="catalogo-titulo">CANON</p>
            </div>

            <div class="catalogo-producto">
                <img src="./img/Imagen Producto.png" alt="LOGO" class="catalogo-logo">
                <p class="catalogo-titulo">ACCESORIOS</p>
            </div>

            <div class="catalogo-producto">
                <img src="./img/Imagen Producto.png" alt="LOGO" class="catalogo-logo">
                <p class="catalogo-titulo">VARIOS</p>
            </div>

        </div>
    </div>
