
<div class="burger-links" id="_burger-links">
    <ul>
        <li><a href="./" class="home" data-text="Home">HOME</a></li>
        <li><a href="#" data-text="Catalogo">CATÁLOGO</a></li>
        <div class="catalogo-ul">
            <span class="catalogo-span"></span>
            <ul>
                <li><a href="/iphones" data-text="Catalogo">iphones</a></li>
                <li><a href="/drones" data-text="Catalogo">drones</a></li>
                <li><a href="/sony" data-text="Catalogo">sony</a></li>
                <li><a href="/nikon" data-text="Catalogo">nikon</a></li>
                <li><a href="/canon" data-text="Catalogo">canon</a></li>
                {{!-- 
                <li><a href="/accesorios" data-text="Catalogo">accesorios</a></li>
                <li><a href="/varios" data-text="Catalogo">varios</a></li>
                --}}
            </ul>
        </div>
    </ul>
    <li><a href="#" data-text="Carrito">CARRITO</a>
        <i class="fa-solid fa-cart-shopping catalogo-carrito"></i>
    </li>
</div>
