
<form method="post" id="frm_load_edit">
    <div class="admin-categorias">
        <label for="categorias">Categorias:</label>
        <select name="categorias" required>
            <option value="">-- Elegí una categoria --</option>
            {{#each results}}
            <option>{{nombre}}</option>
            {{/each}}
        </select>
    </div>
    <div class="botones admin-botones">
        <button id="btn_editar">EDITAR</button>
        <button id="btn_cargar">CARGAR</button>
    </div>
</form>

<script>
    var formAction = document.querySelector("form#frm_load_edit");
    var loadButton = document.querySelector("button#btn_cargar");
    loadButton.addEventListener("click", function(){
        formAction.setAttribute("action", "/cargar");
    })

    var editButton = document.querySelector("button#btn_editar");
    editButton.addEventListener("click", function(){
        formAction.setAttribute("action", "/editar");
    })
</script>