
<header>
    <div class="header">
        <div class="hdrTop">
            <div class="hdrTopCart">
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="hdrTopRedes">
                <a href="https://www.instagram.com/_crimpo_/"><i class="fa-brands fa-instagram icon icon--instagrm"></i></a>
                <a href="https://www.facebook.com/crimpocom"><i class="fa-brands fa-facebook icon icon--facebook"></i></a>
                <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>
        </div>

        <div class="hdrBot">
            <div class="burger">
                <a href="javascript:void(0);" class="burger-menu" onclick="burger_menu()"><i class="fas fa-bars"></i></a>
            </div>
            
            <div class="hdrBotLogo">
                <div class="hdrLogo">
                    <a href="./"><img src="./img/Logo.PNG" alt="LOGO" class="logo"></a>
                </div>
                <div class="encabezado">
                    <p>compras y ventas al por menor </p>
                </div>
            </div>
        </div>
    </div>

    {{> burger_links}}

</header>
