<!DOCTYPE html>
<html lang="en">

    {{> head}}

<body>
    {{> header}}
    
    <main>
        <div class="main-catalogo">
            <div class="catalogo">
                <p>Bienvenido, admin!</p>
                <div class="catalogo-producto">
                    {{> catalogo_select}}
                </div>

                <div class="catalogo-producto cargar" id="cargar">
                    aca va el editar.hbs
                </div>

            </div>
        </div>
    </main>
    {{> whatsapp}}
</body>
</html>