<!DOCTYPE html>
<html lang="en">

    {{> head}}

<body>
    {{> header}}
    
    <main>
        <div class="main-catalogo">
            <div class="catalogo">
                {{#each catalogo}}
                <div class="catalogo-producto">
                    <a href="/{{this.nombre}}">
                        <img src="./img/Imagen Producto.png" alt="LOGO" class="catalogo-logo">
                        <p class="catalogo-titulo">{{this.nombre}}</p>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
    </main>
    {{> whatsapp}}
</body>
</html>